:root {
	--header-height: 100px;
	--yellow: #eec60a;
	--violet: #7d297f;
	--blue: #e5f4f9;
}

.wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.main {
	padding-top: var(--header-height);
}

.violet-border {
	border: 3px solid var(--violet);
	border-radius: 5px;
}

.btn {
	padding: 10px 20px;
	background: var(--violet);
	border-radius: 7px;
	color: white;
	font-size: 20px;
	font-weight: bold;
	transition: all 0.3s ease 0s;
}

.btn:hover {
	color: var(--yellow);
}

.text_fields {
	font-size: 20px;
	font-weight: 600;
}

.text_lil-title {
	font-size: 25px;
}

.hidden {
	display: none;
}

.tac {
	text-align: center;
}

.p-20 {
	padding: 20px;
}

.mb-20 {
	margin-bottom: 20px;
}

.red {
	color: #f00;
}

.green {
	color: #0c0;
}

.blink.red {
	animation: blink_red 0.2s linear;
	animation-iteration-count: 3;
}

.blink.green {
	animation: blink_green 0.2s linear;
	animation-iteration-count: 1;
}

@keyframes blink_red {
	0% {
		color: rgb(128, 0, 0);
	}

	50% {
		color: rgb(255, 65, 14);
	}

	100% {
		color: rgb(128, 0, 0);
	}
}

@keyframes blink_green {
	0% {
		color: rgb(0, 128, 0);
	}

	50% {
		color: rgb(0, 255, 0);
	}

	100% {
		color: rgb(0, 128, 0);
	}
}

@media (max-width: 1200px) {
	/*^*/
}

@media (max-width: 992px) {
	:root {
		--header-height: 80px;
	}

	.text_header {
		font-size: 80%;
	}

	.text_fields {
		font-size: 18px;
	}

	.text_lil-title {
		font-size: 20px;
	}
}

@media (max-width: 767px) {
	/*^*/
}

@media (max-width: 479px) {

	.input__form,
	.results__body {
		padding: 20px;
	}

	.text_fields {
		font-size: 16px;
	}

	.text_lil-title {
		font-size: 18px;
	}
}